    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      background-color: #222;
      color: #eee;
      font-family: 'Press Start 2P', cursive, monospace;
      text-align: center;
      padding: 2rem;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3rem;
    }

    button {
      font-family: inherit;
      font-size: 1rem;
      padding: 1rem 2rem;
      border: none;
      cursor: pointer;
      background-color: #eee;
      color: #222;
      border-radius: 5px;
      transition: all 0.2s;
    }

    button:hover {
      background-color: #ccc;
    }

    .between {
      font-size: 0.8rem;
    }

    h1 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    .number {
      font-size: 2rem;
      background-color: #eee;
      color: #222;
      width: 100px;
      margin: 0 auto 2rem;
      border-radius: 5px;
      padding: auto rem;
    }

    .guess-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2rem;
    }

    .guess-section input {
      font-size: 1.5rem;
      text-align: center;
      width: 150px;
      padding: 0.5rem;
      border: 3px solid #eee;
      background: none;
      color: #eee;
      border-radius: 5px;
    }

    .message {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .scoreboard {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      font-size: 1rem;
    }

    .scoreboard span {
      display: block;
    }

    .scoreboard .score {
      color: #ff4d4d;
    }

    .scoreboard .highscore {
      color: #ffcc00;
    }

    .scoreboard.score , .scoreboard.label_score {
        display: inline;
        margin-right: 5px;
    }

    hr {
      margin: 2rem 0;
      border: none;
      border-top: 3px solid #eee;
    }